---
title: About
layout: page
id: about
---
<div class="row">
  <div class="col-sm-6">
    <h2>About the Catalogue</h2>

    <p>Jazz and its related genres are my favourite types of music. I created this site so I can share my interest in jazz and album recommendations with others. For a full list of albums in plain text, along with any other (non-jazz) albums in my music collection, <a href="{{ site.baseurl }}/list.txt">click here</a>.</p>

    <p>I am always looking to broaden my musical horizons, so I would be glad to hear your listening suggestions. Feel free to contact me through my <a href="{{ site.alex_url }}">main website</a>.</p>
  </div>
  <div class="col-sm-6">
    <h2>Notes and Omissions</h2>
    <p>A fundamental characteristic of jazz is improvisation, so attending live events is highly recommended.</p>

    <p>My jazz library has a lack of various periods and sub-genres, including early jazz (eg. pre-30s, ragtime, New Orleans, dixieland), vocal jazz, and post-80s genre jazz (eg. avant-garde, free jazz, fusion). There are also very few modern/active musicians.</p>
  </div>
</div>

<h2>Recommended Books and Movies</h2>
<div class="row">
  <div class="col-sm-6">
    {% include resource.html resource=site.data.resources.jazz_film %}
    {% include resource.html resource=site.data.resources.bird_movie %}
    {% include resource.html resource=site.data.resources.mingus_movie %}
  </div>
  <div class="col-sm-6">
    {% include resource.html resource=site.data.resources.amg_jazz %}
    {% include resource.html resource=site.data.resources.miles_book %}
    {% include resource.html resource=site.data.resources.monk_movie %}
  </div>
</div>
