---
layout: default
---
<div class="row">
  {% assign sorted_posts = (site.posts | sort:'title') %}
  {% for post in sorted_posts %}
    <div class="col-lg-4 col-sm-6">
      <a class="album-card clearfix" href="{{ post.url | prepend: site.baseurl }}">
        <img src="{{ "/assets/thumbnails/" | prepend: site.baseurl }}{{ post.slug }}.jpg" alt="Album cover for {{ post.title }}"/>
        <div class="album-card-info">
          <h2>{% if post.short-title %}{{ post.short-title }}{% else %}{{ post.title }}{% endif %}</h2>
          {% assign artist = site.data.artists[post.artist] %}<h3>{% if artist.short-name %}{{ artist.short-name }}{% else %}{{ artist.name }}{% endif %}</h3>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
