---
title: Jazz Resources &amp; Media
layout: page
id: resources
---
<h2>{{ page.title }}</h2>
<div class="row">
  {% for resource_data in site.data.resources %}{% assign resource = resource_data[1] %}
    <div class="col-md-6">
      <div class="resource clearfix">
        <h3>{{ resource.name }}</h3>
        {% if resource.image %}<img src="{{ "/assets/images/" | prepend: site.baseurl }}{{ resource.image }}" />{% endif %}
        {{ resource.description | markdownify }}
      </div>
    </div>

  {% assign mod = forloop.index | modulo: 2 %}{% if mod == 0%}
</div>
<div class="row">
  {% endif %}
  {% endfor %}
</div>
