@import 'bootstrap';

// Variables
// =========================================

$street-grey: #353432;
$off-white: #e9e9e9;
$retro-green: #94ba65;

// Core
// =========================================

body {
  background: $street-grey;
  color: $off-white;
}

.main {
  background: $off-white;
  color: $street-grey;
  padding: 15*2px 0;
}

// Header
// =========================================

header {
  font-family: 'Righteous', cursive;
  padding: 1em 0;

  h1 {
    margin: 0;
  }

  a {
    color: $off-white;

    &:hover {
      color: $retro-green;
      text-decoration: none;
    }
  }
}

.nav > li > a {
  &:hover,
  &.active {
    background: $retro-green;
    color: $street-grey;
  }
}

// Home Page
// =========================================

.album-card {
  color: $street-grey;
  display: block;
  padding: 15px;

  img {
    float: left;
    margin-right: 15px;
  }

  h2 {
    margin: 0;
  }

  .album-card-artist {
    font-size: 1.1em;
  }

  &:hover,
  &:active {
    background: darken($off-white, 15%);
    color: lighten($street-grey, 15%);
    text-decoration: none;
  }
}


// Individual Album Page
// =========================================

.album {
  img {
    max-width: 100%;
  }

  h2 {
    font-size: 3em;
    margin: 0 0 0 -.1em;
  }

  h3 {
    color: lighten($street-grey, 20%);
    font-size: 1.5em;
    margin: 0;
  }

  .album-header,
  .album-quote,
  .album-review {
    margin-bottom: 30px;
  }

  a {
    color: $street-grey;
    text-decoration: underline;
  }

  .album-review {
    font-size: 1.2em;
  }

  blockquote {
    background: lighten($off-white, 5%);
    border-left: 5px solid darken($off-white, 10%);
    font-style: italic;
    padding: 20px;

    p {
      margin-bottom: 5px;
    }

    p::before {
      content: '\201C';
    }

    p::after {
      content: '\201D';
    }

    footer {
      padding: 0;
    }

    footer::before {
      content: '- ';
    }
  }
}

// General Content Page
// =========================================

.page {
  h2 {
    margin-top: 0;
  }
}

// Footer
// =========================================

footer {
  color: darken($off-white, 40%);
  font-size: .9em;
  padding: 1em 0;

  p {
    margin: 0;
  }

  a {
    color: darken($off-white, 20%);

    &:hover,
    &:active {
      color: $off-white;
    }
  }

  .right {
    text-align: right;
  }
}
