@import 'bootstrap';

// Variables
// =========================================

$street-grey: #353432;
$off-white: #e9e9e9;
$retro-green: #94ba65;

$allmusic-blue: #25aae1;
$youtube-red: #b31217;
$wikipedia-black: #111;

$screen-sm: 768px;
$screen-md: 992px;

// Core
// =========================================

body {
  background: $street-grey;
  color: $off-white;
}

.main {
  background: $off-white;
  color: $street-grey;
  padding: 15*2px 0;
}

// Header
// =========================================

header {
  font-family: 'Righteous', cursive;
  padding: 1em 0 1.1em;

  a {
    color: $off-white;

    &:hover {
      color: $retro-green;
      text-decoration: none;
    }
  }
}

h1 {
  margin: 0;
  @media (max-width: $screen-sm) {
    margin-bottom: 10px;
    text-align: center;
  }
}

.nav > li > a {
  margin: 0 5px;

  &:hover,
  &.active {
    background: $retro-green;
    color: $street-grey;
  }
}

@media (max-width: $screen-sm) {
  .nav {
    text-align: center;
  }

  .nav-pills > li,
  .nav > li {
    display: inline-block;
    float: none;
  }
}

// Home Page
// =========================================

.album {
  margin: 10px 0;
  padding: 15px;
  transition: .5s;

  &:hover,
  &:active {
    background: transparentize($retro-green, .5);
    color: $street-grey;
    text-decoration: none;
  }
}

.album-cover {
  $size: 100px;
  float: left;
  margin-right: 15px;
  max-height: $size;
  max-width: $size;
  overflow: hidden;
}

.album-info {
  h2 {
    font-size: 2em;
    margin: 4px 0 0;
  }

  h3 {
    font-size: 1.4em;
    margin: 0;
  }
}

.album-links {
  font-weight: bold;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }

  a {
    border-radius: 3px;
    color: $off-white;
    display: inline-block;
    font-size: .8em;
    padding: 3px 6px;
    text-decoration: none;
  }

  @mixin make-album-link($base-color) {
    background: mix(desaturate($base-color, 30%), $off-white);
    text-shadow: $base-color;

    &:hover {
      background: $base-color;
    }
  }

  .youtube {
    @include make-album-link($youtube-red);
  }

  .wikipedia {
    @include make-album-link($wikipedia-black);
  }

  .allmusic {
    @include make-album-link($allmusic-blue);
  }
}

@media (max-width: $screen-sm) {
  .album {
    margin: 25px auto;
    max-width: 400px;

    img {
      float: right;
      margin-right: 0;
    }

    h2 {
      margin-top: 7px;
    }
  }
}



// About Page
// =========================================

.page {
  h2 {
    margin: 15px 0;
  }
}

.resources {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1em;

    span {
      display: block;
      font-weight: 800;
    }
  }
}

// Footer
// =========================================

footer {
  color: darken($off-white, 40%);
  font-size: .9em;
  padding: 1em 0;

  p {
    margin: 0;
  }

  a {
    color: darken($off-white, 20%);

    &:hover,
    &:active {
      color: $off-white;
    }
  }

  .right {
    text-align: right;
  }

  @media (max-width: $screen-sm) {
    text-align: center;

    .right {
      margin-top: 1em;
      text-align: center;
    }
  }
}
